.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(0, 0, 0);
  padding: 2rem;
  width: 40rem;
  height: 40vh;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.container.isLoading {
  pointer-events: none; /* Disable interactions */
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.272);
}




.container label {
  display: block;
  align-self: flex-start;
}

.container input[type="email"] {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 4px;
  border: 2px solid black;
}
.container input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.7rem 0rem;
  outline: none;
  background-color: rgba(0, 0, 0, 0.83);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container input[type="submit"]:hover {
  background-color: black;
}

.container.isLoading input[type="submit"] {
  cursor: none;
}
